/* ===========================
        Categories
=========================== */

.categories{
    width:100%;
    padding: 20px 7% 85px;
    background:#FFFFFF;
}

/* ===========================
        Heading
=========================== */

.section-title{
    text-align:center;
    margin-bottom:60px;
}

.section-title h2{
    font-size:42px;
    color:#0F172A;
    font-weight:700;
    margin-bottom:12px;
}

.section-title p{
    font-size:18px;
    color:#64748B;
}

/* ===========================
        Grid
=========================== */

.categories-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:30px;
}

/* ===========================
        Card
=========================== */

.category-card{

    background:#fff;

    border-radius:20px;

    padding:35px 25px;

    display:flex;

    flex-direction:column;

    align-items:center;

    justify-content:center;

    text-align:center;

    border:1px solid #E5E7EB;

    cursor:pointer;

    transition:.35s;

    box-shadow:0 8px 20px rgba(0,0,0,.05);

}

.category-card:hover{

    transform:translateY(-10px);

    border-color:#2563EB;

    box-shadow:0 20px 40px rgba(37,99,235,.15);

}

/* ===========================
        Icon
=========================== */

.category-icon{

    width:80px;

    height:80px;

    background:#EFF6FF;

    color:#2563EB;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:34px;

    margin-bottom:20px;

    transition:.35s;

}

.category-card:hover .category-icon{

    background:#2563EB;

    color:#fff;

    transform:rotate(10deg) scale(1.1);

}

/* ===========================
        Title
=========================== */

.category-card h4{

    font-size:20px;

    color:#0F172A;

    font-weight:600;

}

/* ===========================
        Responsive
=========================== */

@media(max-width:992px){

    .categories-grid{

        grid-template-columns:repeat(2,1fr);

    }

}

@media(max-width:576px){

    .categories{

        padding:70px 20px;

    }

    .section-title h2{

        font-size:32px;

    }

    .section-title p{

        font-size:16px;

    }

    .categories-grid{

        grid-template-columns:1fr;

    }

} 